*.avi
*.sublime-*
*~
cell_tracking_papers/code/arteta12_tests/CellDetect_v1.0/*/out*
data/lung*OUT
data/kidney*OUT
data/*/feats_*.mat
README.html
thesis/*.log
thesis/*.aux
thesis/*.bbl
thesis/*.blg
thesis/*.brf
thesis/*.out
thesis/*.synctex.gz
thesis/*.toc